@charset "utf-8";
html, body, div, span, object, iframe, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
h2 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
h2 a {
    color: #333;
    font-size: 16px;
}
ul {
    list-style: outside none none;
}
a {
    color: #878787;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #ff7f24;
    text-decoration: underline;
}
r {
    color: #ff7f24;
}
del {
    text-decoration: line-through;
}
img {
    border: medium none;
}
.vm {
    vertical-align: middle;
}
.pr {
    position: relative;
}
.red {
    color: red;
}
.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.sj {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
    margin: 0 5px;
    position: absolute;
    top: 16px;
}
.clear {
    clear: both;
}
.clear:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.blank1 {
    background-color: #ffffff;
    height: 1px;
}
.blank5 {
    background-color: #ffffff;
    height: 5px;
}
.blank10 {
    background-color: #ffffff;
    height: 10px;
}
.c {
    border: 1px solid #eee;
    margin: 0 auto;
    width: 990px;
}
.infotext {
    color: #666;
    font: bold 14px "黑体",Arial,sans-serif;
    margin-left: 5px;
}
.lh22 {
    line-height: 22px;
}
.lh24 {
    line-height: 24px;
}
.lh26 {
    line-height: 26px;
}
.lh28 {
    line-height: 28px;
}
.lh30 {
    line-height: 30px;
}
.site-nav {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 1px solid #eee;
    line-height: 35px;
    width: 100%;
}
.site-nav .site-nav-bd {
    height: 35px;
    margin: 0 auto;
    width: 1200px;
}
.site-nav .site-nav-bd ul {
    list-style: outside none none;
}
.site-nav .site-nav-bd ul li {
    height: 35px;
    line-height: 35px;
}
.site-nav .site-nav-bd .site-nav-bd-l {
    float: left;
}
.site-nav .site-nav-bd .site-nav-bd-r {
    float: right;
}
.site-nav .mobile {
    background: url("images/mobile.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 20px;
    padding: 5px 0 10px 15px;
}
.selcity {
    margin-top: 5px;
}
.selcity .city {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
}
.selcity a.citylist {
    color: #46b;
    font: 12px/16px Arial,sans-serif;
    text-decoration: none;
}
.selcity a.citylist:hover {
    text-decoration: underline;
}
.topPart {
    margin-top: 10px;
    position: relative;
}
.topPart .pagecontainer {
    height: 80px;
    margin: 0 auto;
    width: 1200px;
}
.topPart .logo, .topPart .changecity, .topPart .searchBar, .topPart .addBiz {
    display: inline;
    float: left;
}
.topPart .searchBar {
    height: 42px;
    margin-left: 30px;
    margin-top: 10px;
}
.topPart .logo {
    height: 48px;
    width: 182px;
}
.topPart .logo a {
    line-height: 0;
}
.topPart .changecity {
    margin-left: 20px;
    text-align: left;
    width: 150px;
}
.topPart .fsubmit {
    background: none repeat scroll 0 0 #ff7f24;
    border: 1px solid #ff7f24;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    line-height: 40px;
    margin-left: -10px;
    padding: 0;
    position: relative;
    width: 68px;
}
.topPart .fsubmit:hover {
    color: #7cfc00;
}
.order {
    background: none repeat scroll 0 0 #ff7f24;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    left: 480px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 120px;
}
.order a {
    color: #ffffff;
    padding: 12px 26px;
}
.order a:hover {
    color: #7cfc00;
}
.order_main {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #eeeeee;
    color: #878787;
    height: 288px;
    left: 310px;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 248px;
    z-index: 999;
}
.order_main .title {
    border-bottom: 1px dashed #878787;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
.order_main .n1 {
    background: url("images/order1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 45px;
    line-height: 20px;
    margin: 20px;
    padding-left: 50px;
}
.order_main .n2 {
    background: url("images/order2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 45px;
    line-height: 20px;
    margin: 20px;
    padding-left: 50px;
}
.order_main .n3 {
    background: url("images/order3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 45px;
    line-height: 20px;
    margin: 20px;
    padding-left: 50px;
}
.order_main .qorder {
    background: none repeat scroll 0 0 #ff7f24;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    text-align: center;
    width: 208px;
}
.order_main .qorder:hover {
    background: none repeat scroll 0 0 #ea5200;
}
.order_main .qorder a {
    color: #ffffff;
    padding: 7px 40px;
}
.order_main .qorder a:hover {
    color: #7cfc00;
}
.topPart .addBiz {
    background: none repeat scroll left -84px #ff4202;
    border: 1px solid #ffae30;
    color: #fff;
    display: inline;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    width: 95px;
}
.topPart .header_search {
    float: none;
    padding: 0;
}
.topPart .hotLink {
    line-height: 30px;
    padding-left: 10px;
}
.topPart .hotLink span {
    color: #999;
}
.topPart .keyword {
    border: 3px solid #ff7f24;
    color: #999;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 15px;
    height: 34px;
    line-height: 30px;
    outline: medium none;
    text-indent: 3px;
    width: 350px;
}
.header_search {
    padding-left: 15px;
    padding-top: 3px;
    position: absolute;
}
.addr_wrapper {
    display: inline-block;
}
.what_wrapper {
    display: inline-block;
    margin-left: -5px;
    margin-right: 6px;
}
.nav {
    background-color: #ff7f24;
    border-bottom: 0 solid #ffffff;
    height: 38px;
    width: 100%;
}
.nav .main {
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    width: 1200px;
}
.nav .main ul {
}
.nav .main ul li {
    color: white;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 90px;
}
.nav .main ul li a {
    color: white;
    font-size: 14px;
}
.nav .main ul li a:hover {
    color: #7cfc00;
    font-size: 16px;
    text-decoration: underline;
}
.nav .main ul li:hover {
}
.nav .main .mdown {
    background: url("images/mdown.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 30px;
    margin: 4px 0 4px 10px;
    padding-left: 32px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.indexhw {
    color: #ff4202;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin: 0 auto;
    padding-left: 10px;
    width: 990px;
}
.indexfw {
    color: #ff4202;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin: 0 auto;
    padding-left: 10px;
    width: 990px;
}
.sjxx tr {
    border-bottom: 1px solid #eee;
    height: 130px;
}
.sjxx tr:hover {
    background-color: #fdf5e6;
}
.sjxx tr .limg {
    width: 184px;
}
.sjxx tr .limg img {
    border: 2px solid #eee;
    height: 100px;
    margin-left: 8px;
    margin-top: 8px;
    width: 160px;
}
.sjxx tr .limg img:hover {
    border: 2px solid #ff7f24;
}
.sjxx tr .cinfo {
    float: left;
    margin-top: 8px;
    padding-left: 20px;
    width: 400px;
}
.sjxx tr .cinfo .mc {
    color: #ff7f24;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
}
.sjxx tr .cinfo .dz {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .cinfo .dh {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .cinfo .bq {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .cinfo .pj {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .rinfo {
    float: right;
    margin-top: 8px;
    padding-left: 20px;
    width: 365px;
}
.sjxx tr .rinfo .mc {
    color: #ff7f24;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 24px;
}
.sjxx tr .rinfo .dz {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .rinfo .dh {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .rinfo .bq {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.sjxx tr .rinfo .pj {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.ep-pages {
    clear: both;
    font-family: Arial,"宋体",sans-serif;
    font-size: 14px;
    padding: 10px 12px;
    text-align: center;
    vertical-align: top;
}
.ep-pages a, .ep-pages span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    margin: 5px 1px 0 0;
    overflow: hidden;
    padding: 0 8px;
    vertical-align: top;
}
.ep-pages a:hover {
    background: none repeat scroll 0 0 #cc1b1b;
    border: 1px solid #cc1b1b;
    text-decoration: none;
}
.ep-pages a, .ep-pages a:visited {
    color: #252525;
}
.ep-pages a:hover, .ep-pages a:active {
    color: #ffffff;
}
.ep-pages .current {
    background: none repeat scroll 0 0 #cc1b1b;
    border: 1px solid #cc1b1b;
    color: #fff;
}
.ep-pages a.current, .ep-pages a.current:visited {
    color: #ffffff;
}
.ep-pages a.current:hover, .ep-pages a.current:active {
    color: #ffffff;
}
.ep-pages-ctrl {
    font-family: "宋体",sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.ep-pages-e5e5e5 {
    color: #e5e5e5;
}
.ep-pages-all {
    font-size: 12px;
    vertical-align: top;
}
.merchantinfo {
    margin: 0 auto;
    min-height: 300px;
    width: 990px;
}
.book {
}
.booka {
    border: 2px solid #e5e5e5;
    padding: 10px;
}
.bookaboxa p {
    color: #c0c1b9;
    font-size: 13px;
    line-height: 22px;
}
h1 {
    color: #ff6100;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 15px;
}
.share {
    float: left;
    height: 40px;
    padding-left: 20px;
}
.bookaboxb {
    clear: both;
    font-size: 14px;
    margin-top: 10px;
}
.bookaboxbimg {
    border: 3px solid #e5e5e5;
    float: left;
}
.boxba {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    margin-left: 13px;
    padding-left: 10px;
    padding-top: 10px;
    width: 420px;
}
.boxba ul {
    list-style: outside none none;
}
.boxba ul li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.boxba ul li span {
    color: #ff6100;
    font-size: 20px;
    font-weight: bold;
}
.boxbb {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    margin-left: 13px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 30px;
    width: 420px;
}
.boxbb p {
    line-height: 30px;
}
.boxbb p.lkydbbp {
    margin-top: 20px;
    text-align: left;
}
.boxbb span {
    color: #b70665;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
}
.bookc {
    border-top: 2px solid #ca0000;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
.bookc ul {
    list-style: outside none none;
}
.bookc ul li {
    background: url("images/bookc1.jpg") no-repeat scroll right 8px rgba(0, 0, 0, 0);
    float: left;
    margin-top: -3px;
    text-align: center;
    width: 100px;
}
.bookc ul li.boah {
    background: url("images/li_bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    height: 40px;
    width: 100px;
}
.bookc ul li a {
    color: #000000;
    font-size: 15px;
}
.bookc ul li a.boah {
    color: #ffffff;
    font-size: 15px;
}
.bookc ul li a:hover {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.bookc ul li:hover {
    background: url("images/li_bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bookd {
    margin-top: 10px;
}
.bookd_tit {
    background: url("images/bookd_tit.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}
.bookd_box_nobody .cartinfo {
    float: right;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 16px;
    line-height: 40px;
    padding-right: 15px;
}
.bookd_box_nobody .cartinfo a {
    font-family: "微软雅黑","宋体",Arial;
    font-size: 16px;
}
.bookd_box {
    border: 2px solid #e5e5e5;
    font-family: "微软雅黑","宋体",Arial;
    font-size: 15px;
}
.bookd_box ul {
    list-style: outside none none;
}
.bookd_box ul li {
    border-bottom: 1px dotted #c1c1c1;
    padding-top: 15px;
}
.booke {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}
.booke span {
    color: #ca0000;
    padding-left: 20px;
}
.bookf {
    line-height: 25px;
    padding-bottom: 10px;
}
.bookg {
    background: none repeat scroll 0 0 #e4e4e4;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
}
.bookg p {
    line-height: 25px;
}
.bookd_boxfwbz {
    line-height: 24px;
}
.bookd_boxqzbl {
    line-height: 24px;
}
.bookd_box .bookd_boxqzbl img {
    max-height: 800px;
    max-width: 970px;
}
#focus {
    border: 1px solid #e5e5e5;
    float: left;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 520px;
}
#focus ul {
    height: 380px;
    position: absolute;
}
#focus ul li {
    background: none repeat scroll 0 0 #000;
    float: left;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 520px;
}
#focus ul li div {
    overflow: hidden;
    position: absolute;
}
#focus ul li img {
    height: 320px;
    width: 520px;
}
#focus .btnBg {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 520px;
}
#focus .btn {
    bottom: 0;
    height: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 500px;
}
#focus .btn span {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    width: 25px;
}
#focus .btn span.on {
    background: none repeat scroll 0 0 #fff;
}
#focus .preNext {
    background: url("images/sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 90px;
    width: 45px;
}
#focus .pre {
    left: 0;
}
#focus .next {
    background-position: right top;
    right: 0;
}
select {
    font: 13px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 28px;
    min-width: 50px;
    outline: medium none;
    vertical-align: middle;
}
input {
    outline: medium none;
    vertical-align: middle;
}
textarea {
    outline: 0 none;
    resize: none;
}
input.text {
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font: 13px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 28px;
    outline: medium none;
    padding: 0 2px;
    width: 200px;
}
input.red {
    color: red;
    font-weight: bolder;
}
input.text[type="file"], input.text[type="checkbox"] {
    box-shadow: none;
}
input.text:hover {
    border: 1px solid #ff7f24;
}
input.text:disabled {
    background-color: #f6f6f6;
}
input.text.readonly {
    background-color: #f6f6f6;
}
textarea.text {
    border-color: #999999 #e1e1e1 #e1e1e1 #999999;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    font: 13px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 60px;
    padding: 4px;
    width: 96%;
}
textarea.text:hover {
    border: 1px solid #ff7f24;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 0.2s linear 0s;
}
textarea.text:disabled {
    background-color: #f6f6f6;
}
textarea.text:disabled:hover {
    background-color: #f6f6f6;
    border-color: #999999 #e1e1e1 #e1e1e1 #999999;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    transition: none 0s ease 0s ;
}
input.button {
    background-color: #ff7f24;
    background-image: -moz-linear-gradient(center bottom , #ff7f24 0%, #ffa304 100%);
    background-position: center top;
    background-repeat: no-repeat;
    border: 1px solid #ffa804;
    border-radius: 4px;
    color: #ffffff;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 28px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 80px;
}
input.button:hover {
    background-color: #ff8f24;
    background-image: -moz-linear-gradient(center top , #ff8f24 0%, #ffa804 100%);
    background-position: center bottom;
}
input.button:active {
    background-position: 0 -60px;
}
input.w300 {
    width: 300px;
}
.registeruser {
    border: 1px solid #eee;
    margin: 0 auto;
    min-height: 800px;
    width: 990px;
}
input.error {
    border: 1px solid red;
}
label.error {
    background: url("./demo/images/unchecked.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ea5200;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 16px;
}
label.checked {
    background: url("./demo/images/checked.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.foot {
    border-top: 2px solid #eee;
    color: #a2a2a2;
    margin-top: 10px;
    width: 100%;
}
.foot .flink {
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    width: 990px;
}
.foot a {
    color: #a2a2a2;
}
.foot a:hover {
    color: #808080;
}
.sq {
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    width: 990px;
}
.sq .title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 60px;
}
.sq .main {
    float: right;
    width: 920px;
}
.sq .main ul {
    width: 920px;
}
.sq .main ul li {
    float: left;
    font-size: 13px;
    margin-bottom: 2px;
}
.sq .main ul li a {
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    min-width: 40px;
    padding-right: 5px;
    text-align: center;
}
.fwfl {
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    width: 990px;
}
.fwfl .title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 60px;
}
.fwfl .main {
    float: right;
    width: 920px;
}
.fwfl .main ul {
    width: 920px;
}
.fwfl .main ul li {
    float: left;
    font-size: 13px;
    margin-bottom: 2px;
}
.fwfl .main ul li a {
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    min-width: 40px;
    padding-right: 5px;
    text-align: center;
}
.cm {
    margin: 0 auto;
    width: 1200px;
}
.leftmenu {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: 600px;
    width: 200px;
}
.leftmenu ul {
    margin-top: 10px;
}
.leftmenu li {
    font: 13px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 32px;
    padding-left: 30px;
}
.rightcon {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: 600px;
    width: 990px;
}
.box_title {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font: bold 15px/32px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 32px;
    padding-left: 15px;
}
.editinfo {
    min-height: 400px;
    width: 100%;
}
.editinfo ul {
    margin-top: 5px;
}
.editinfo li {
    font: 13px "微软雅黑",Arial,Helvetica,sans-serif;
    height: 36px;
    padding-left: 30px;
}
.editinfo li span {
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: right;
    width: 100px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.list {
    width: 100%;
}
table.list tr:hover {
    background-color: #fff8e4;
}
table.list .selected {
    background-color: #fff8e4;
}
table.list th.titleinfo {
    border: 1px solid #d8deea;
    color: #5b5b5b;
    font-size: 13px;
    font-weight: bolder;
    height: 28px;
    line-height: 28px;
    text-align: left;
}
table.list th.pageinfo {
    border: 1px solid #d8deea;
    color: #5b5b5b;
    font-size: 13px;
    font-weight: bolder;
    height: 28px;
    line-height: 28px;
    text-align: left;
}
table.list th {
    background: url("images/list.gif") no-repeat scroll 0 -60px #f2f4f6;
    border: 1px solid #d8deea;
    color: #5b5b5b;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
}
table.list .check {
    padding: 0 5px;
    width: 21px;
}
table.list td {
    border: 1px solid #bfc5c9;
    line-height: 28px;
    padding-left: 1px;
    text-align: center;
}
table.list td a {
    color: #336699;
}
table.list td a:hover {
    color: #ff6600;
}
table.input {
    width: 100%;
    word-break: break-all;
}
table.input th {
    font: 13px "黑体",Arial,sans-serif;
    padding: 5px 10px 5px 0;
    text-align: right;
    white-space: nowrap;
    width: 150px;
}
table.input tr:hover th {
}
table.input .title th, table.input .title td {
    background-color: #f1f8ff;
    padding-left: 5px;
    text-align: left;
}
table.input td {
    color: #666666;
    height: 24px;
    line-height: 22px;
    padding: 2px;
}
.flink {
    margin: 0 auto 10px;
    width: 990px;
}
.flink_tit {
    background: url("images/flink_tit_bg.png") no-repeat scroll 90px 7px rgba(0, 0, 0, 0);
    border-bottom: 2px solid #ff7f24;
    color: #095b8a;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: left;
    text-indent: 20px;
    width: 990px;
}
.flink_tit span {
    font-size: 14px;
    height: 32px;
    letter-spacing: -1px;
    line-height: 32px;
}
.tbox {
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    font: 13px/24px "微软雅黑",Arial,Helvetica,sans-serif;
}
.tbox dt {
    clear: both;
    height: 33px;
}
.tbox dd {
    border-top: 1px solid #d0d0d0;
    min-height: 600px;
}
.tbox dt span.linklabel {
    float: left;
    text-align: center;
}
.tbox dt span.linklabel a {
    border-right: 1px solid #d0d0d0;
    color: #232323;
    display: block;
    float: left;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    padding-top: 1px;
    text-decoration: none;
    width: 120px;
}
.tbox dt span.linklabel a:hover {
    border-bottom: 1px solid #fff;
    color: #360;
}
.tbox dt span.linklabel a.thisclass {
    background: none repeat scroll 0 0 #f6f6f8;
    border-bottom: 0 solid #000;
    color: #232323;
    font-weight: bold;
}
.wraper {
}
.wraper .list {
    background: none repeat scroll 0 0 #f0f6e4;
    border: 1px solid #617775;
    display: none;
    float: left;
    height: 200px;
    overflow: auto;
    position: absolute;
    width: 200px;
    z-index: 1000000;
}
.wraper .list ul li {
    border-top: 1px solid black;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
}
.wraper ul {
    list-style: outside none none;
}
