@charset "utf-8";
html, body, div, span, object, iframe, h3, h4, h5, h6, p, blockquote, pre, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	
}
h1 {font-size:16px; font-weight: bold; color:#333;}
h2 {font-size:14px; font-weight: bold; color:#ffffff;}
h2 a {color:#333;}
ul{list-style:none}
a{color:#878787;text-decoration:none;cursor:pointer}
a:hover{color:#FF7F24;text-decoration:underline}
r {color:#FF7F24;}
del {text-decoration: line-through;}
img {border:none}

.vm{vertical-align:middle;}
.pr{position:relative;}
.red{color: red;}
.bold{font-weight: bold;}
.clear{clear:both;}
.sj {
	border-top:5px #FFFFFF solid;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	position: absolute;
	top:16px;
	margin:0px 5px;	
}

.blank1{height:1px;background-color: #FFFFFF;}
.blank5{height:5px;background-color: #FFFFFF;}
.blank10{height:10px;background-color: #FFFFFF;}
.c{margin:0 auto;width: 990px;border:1px solid #eee;}
.infotext{color:#666;font:bold 14px "黑体",Arial,sans-serif;margin-left: 5px;}
.lh22{line-height: 22px;}
.lh24{line-height: 24px;}
.lh26{line-height: 26px;}
.lh28{line-height: 28px;}
.lh30{line-height: 30px;}

.site-nav{width:100%;background:#f5f5f5;border-bottom:1px solid #eee;line-height: 35px;}
.site-nav .site-nav-bd{margin:0 auto;width:1050px;height:35px;}
.site-nav .site-nav-bd ul{list-style:none;}
.site-nav .site-nav-bd ul li{height:35px;line-height: 35px;}
.site-nav .site-nav-bd .site-nav-bd-l{float:left;width:400px;}
.site-nav .site-nav-bd .site-nav-bd-r{float:right;width:330px;}
.site-nav .mobile {
	background:url(../images/mobile.jpg) no-repeat;
	padding:5px 0px 10px 15px;
	line-height: 20px;
}

.selcity{margin-top: 5px;}
.selcity .city{color:#000;text-decoration:none;font-size: 13px;font-weight: bold;line-height: 24px;}
.selcity a.citylist{font:12px/16px Arial,sans-serif;color:#46b;text-decoration:none;}
.selcity a.citylist:hover{text-decoration:underline;}

.topPart{position:relative;margin-top:10px;  font-family: "microsoft yahei",Arial,Helvetica,sans-serif;}
.topPart .pagecontainer{margin:0 auto;width:1050px;height:80px;}
.topPart .logo,.topPart .changecity,.topPart .searchBar,.topPart .addBiz{float:left;display:inline;}
.topPart .searchBar{margin-left:30px; height:42px;margin-top:0px;}
.topPart .logo{width:182px;height:48px;}
.topPart .logo a{line-height:0;}
.topPart .changecity{width:150px;margin-left:20px;text-align:left;}
.topPart .fsubmit{font-weight:bold;padding:0;font-size:16px;color:#fff;width:68px;border:1px solid #FF7F24;height:46px;line-height:40px;background:#FF7F24;position:relative; margin-left:-3px;cursor: pointer;}
.topPart .fsubmit:hover{color: #7CFC00;}

.order {font-size:16px;font-weight:bold;background:#FF7F24;width:120px;height:42px;line-height:42px;text-align:center;float:left;position: absolute;left:480px;top:0px; color:#FFFFFF;}
.order a {color:#FFFFFF; padding:12px 26px;}
.order a:hover {color:#7CFC00;}
.order_main {
	width:248px;
	height:288px;
	border:1px #EEEEEE solid;
	background: #FFFFFF;
	position: absolute;
	z-index: 999;
	left:310px;
	padding:20px;
	color:#878787;
	visibility: hidden;
}
.order_main .title {
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#666;
	border-bottom:1px #878787 dashed;
	
}
.order_main .n1 {
	padding-left:50px;
	background:url(../images/order1.png) no-repeat;
	margin:20px;
	height:45px;
	line-height: 20px;
	
}
.order_main .n2{
	padding-left:50px;
	background:url(../images/order2.png) no-repeat;
	height:45px;
	margin:20px;
	line-height: 20px;
}
.order_main .n3 {
	padding-left:50px;
	background:url(../images/order3.png) no-repeat;
	height:45px;
	margin:20px;
	line-height: 20px;
}
.order_main .qorder {
	font-size:16px;
	font-weight:bold;
	background:#FF7F24;
	width:208px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-left:20px;
}
.order_main .qorder:hover {
	background:#EA5200;
}
.order_main .qorder a {color:#FFFFFF;padding:7px 40px;}
.order_main .qorder a:hover {color:#7CFC00;}

.topPart .addBiz{font-weight:bold;float:right;display:inline;width:95px;border:1px solid #ffae30;background:#ff4202 left -84px;font-size:16px;color:#fff;text-align:center;text-decoration:none;height:42px;line-height:42px;}
.topPart .header_search{padding:0;float:none;}
.topPart .hotLink{line-height:30px;padding-left:10px;}
.topPart .hotLink span{color:#999;}
.topPart .keyword{border: 2px solid #FF7F24;color:#999;width: 350px;height: 42px;outline: none;line-height: 30px;font-size: 15px;font-family: "微软雅黑","宋体",Arial;text-indent: 3px;  }

/* 懒人图库 搜集整理 www.lanrentuku.com */
body, p, form, input, textarea, ul, li, h1, h2, h3, h4, dl, dt, dd, table, td, th { margin:0; padding:0; }
a { text-decoration:none; color:#999; outline:none; }


/*顶部导航*/
.head-warp {    background: none repeat scroll 0 0 #ff7f24;
    height: 40px;
    margin-bottom: 10px;
 }
.head-warp .head { width:980px; margin:0 auto; background-image:none;}
.head { height:36px; top:0px;}
.nav-box {  }
.nav-box ul { padding-top:8px;}
.nav-box ul li {list-style:none; float:left; font:16px/20px 微软雅黑; padding:0 12px; height:28px;}
.nav-box ul li a {   color: #ffffff;
    font-weight: bold;
    margin: 0 60px;}
.nav-box ul li a:hover { text-decoration:none;}
.nav-box ul li.last { font-family:\5b8b\4f53; font-size:12px; padding-top:1px;}
.nav-box ul li.last a { color:#a2a2a1;}


.zifei-con{    clear: both;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 1100px;}
.zf-ringt{
    float: right;
    height: 470px;
    width: 225px;}
	.zf-left{    float: left;
    width: 400px;margin:100px;}
	.zifei-top{padding:20px;}
	.zf-left span{font-size: 32px;color:#47a105;font-weight:bold;line-height:75px;}
	.zf-left p{ line-height:36px;font-size:14px;}
	.zifei-bot{    background: none repeat scroll 0 0 #f8f8f8;
    clear: both;
    height: auto;
    min-height: 400px;
    overflow: hidden;
	padding:30px;}
	.zf-left1{}
	.zf-left1 li{     border-bottom: 2px dashed #cccccc;
    height: 150px;
    margin: 10px 10px 10px 175px;
    padding: 20px;
    width: 630px;}
		.zf-left1 ul{}
		.sf-con1{  float: left;
    height: 130px;
    width: 130px;}
		.sf-con2{ float:right;}
		.sf-con2 h3{  color: #47a105;
    font-family: "宋体";
    font-size: 18px;
    font-weight: bold;}
	.sf-con2 p{    line-height: 30px;
    padding-top: 20px;font-size: 14px;}
	.zf-left2{   line-height: 25px;
    padding: 10px 0 10px 165px;}
