@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
a,button,input,li{ -webkit-tap-highlight-color:rgba(255,0,0,0);
				-moz-tap-highlight-color:rgba(255,0,0,0);  /* for Firefox */
				-o-tap-highlight-color:rgba(255,0,0,0);/* for Opera */
				-ms-tap-highlight-color:rgba(255,0,0,0);    /* for IE */}
a img{ border:none; border:0; }
a{ text-decoration:none; border:0; color:#000; border:none;}
a:hover,a:visited,a:active,a:link{text-decoration:none; border:none;  color:#000; border:0;}

*{ margin:0; padding:0; border:0;}
img{ max-width:100%;}
li{ list-style:none; border:0; display:block;}
.clear{ clear:both;}
html,body{ margin:0 auto; padding:0; width:100%;font-family:"微软雅黑"; clear:both; font-size:100%; color:#000; font-size:13px;}
body{background:#f6f6f6 url(../images/body-bg.jpg) 0 0; font:14px/1.5 "微软雅黑";}
.pull-left{ float:left;}
.pull-right{ float:right;}
/*头部开始*/
.contain{ width:100%; margin:0 auto; height:auto; background-color:#fff}
.contain .top{ width:100%; margin:0 auto; background:#f5f5f5;}
.contain .top ul{width:100%; margin:0 auto; max-width:1180px;}
.contain .top ul li{ width:50%; float:left; line-height:25px;}
.contain .top ul li span{ margin-right:2%; color:#5a52e2;}
.contain .top ul li:nth-child(2){ text-align:right;}
.main{ width:100%; max-width:1180px; margin:0 auto; vertical-align:middle; ;  margin-top:20px;}
.main .logo{ width:50%; vertical-align:middle;}
.main .logo img{vertical-align:middle;}
.main .searchinput{ margin-left:80px;float:left; width:400px; height:40px; border:1px solid #ff7f24; outline:none ; text-indent:5px; font-size:14px;}
.main .searchbtn{float:left; width:100px; height:42px; line-height:40px; background:#ff7f24; color:#FFF;
font-size:16px; border:0; outline:none; cursor:pointer; font-weight:bold;}
.nav{ width:100%; margin:0 auto; background:#ff7f24; height:30px; margin-top:20px; font-size:16px;}
.nav .nav-list{ width:100%; max-width:1180px; margin:0 auto;}
.nav .nav-list ul{}
.nav .nav-list ul li{ float:left; width:20%; text-align:center; color:#fff; line-height:30px;}
/*头部结束*/
/*zhongjian start*/
.mid-main{  width:100%; margin:0 auto;}
.mid-main .mid-top{ width:100%; max-width:1180px; margin:20px auto; height:40px; background:#ff7f24; font-size:18px; font-weight:bold; color:#fff;}
.mid-main .mid-top ul{}
.mid-main .mid-top ul li{ float:left;  line-height:40px;}
.mid-main .mid-top ul li:nth-child(1){ float:left; text-align:center; width:50%;}
.mid-main .mid-top ul li:nth-child(2){ float:left; width:15%}
.mid-main .mid-top ul li:nth-child(3){ float:left; width:35%;}
.main-biao{  width:100%; max-width:1180px; margin:0 auto; border:3px solid #999; border-radius:5px; padding:50px; box-sizing:border-box;background: #FFF;}
.main-biao input {font-size: 14px;}
.main-biao select {font-size: 14px; line-height: 26px;}
.main-biao .b1 ul {width: 100%;}
.main-biao .b1 ul li{ float:left; width:18%; margin-right:5%; height:80px; }
.main-biao .b1 ul li:nth-child(1){ color:#999; font-size:20px; text-align:center; line-height:80px; margin-right:2%; width:10%; }
.main-biao .b1 ul .nfirstli{ color:#999; font-size:20px; text-align:center; line-height:80px; margin-right:2%; width:10%; }
.main-biao .b1 ul li:nth-child(2){ border:3px solid #999; border-radius:5px;}
.main-biao .b1 ul li:nth-child(3){ border:3px solid #999; border-radius:5px;}
.main-biao .b1 ul li:nth-child(4){ border:3px solid #999; border-radius:5px;}
.main-biao .b1 ul .nborderli{ border:3px solid #999; border-radius:5px;}
.main-biao .b1 ul li span{ float:left; text-align:center; font-size:16px; color:#ff7f24; font-weight:bold;}
.main-biao .b1 ul li span:nth-child(1){ width:40%; line-height:80px}
.main-biao .b1 ul li span:nth-child(2){ width:60%; line-height:30px; margin-top:10px;}
.main-biao .b1 ul li .nspan1{ width:40%; line-height:80px}
.main-biao .b1 ul li .nspan2{ width:60%; line-height:30px; margin-top:10px;}
.main-biao .b1 ul li.selected {border:3px solid #ff7f24;}
.main-biao .b1 ul li.selected span:nth-child(1){color:#fff;background-color:#ff7f24;}

.main-biao .b2 { display:none;}
.main-biao .b2 ul{width: 100%;}
.main-biao .b2 ul li{ float:left; width:13%; margin-right:0.84%; height:80px; border:3px solid #999; border-radius:5px; }
/*.main-biao .b2 ul li:nth-child(1){ color:#999; font-size:20px; text-align:center;}*/
.main-biao .b2 ul li:nth-child(1){ color:#999; font-size:20px; text-align:center; line-height:80px; margin-right:2%; width:10%; border:none;}
.main-biao .b2 ul .nfirstli{ color:#999; font-size:20px; text-align:center; line-height:80px; margin-right:2%; width:10%; border:none;}
.main-biao .b2 ul li:nth-child(2){ border:3px solid #999; border-radius:5px;}
.main-biao .b2 ul li:nth-child(3){ border:3px solid #999; border-radius:5px;}
.main-biao .b2 ul li:nth-child(4){ border:3px solid #999; border-radius:5px;}
.main-biao .b2 ul .nborderli{ border:3px solid #999; border-radius:5px;}
.main-biao .b2 ul li span{ float:left; text-align:center; font-size:16px; color:#949191; font-weight:bold;}
.main-biao .b2 ul li span:nth-child(1){ width:70%; margin-top:10px;}
.main-biao .b2 ul li .nspan1{ width:70%; margin-top:10px;}
.main-biao .b2 ul li span:nth-child(2){ width:30%; line-height:80px }
.main-biao .b2 ul li .nspan2{ width:30%; line-height:80px }
.main-biao .b2{ margin-top:2%;}
.main-biao .b2 ul li:nth-child(7){ margin-right:0;}
.main-biao .b2 ul li.selected {border:3px solid #ff7f24;}
.main-biao .b2 ul li.selected span:nth-child(2){color:#fff;background-color:#ff7f24;}
.main-biao .b2 ul li.selected .nspan2{color:#fff;background-color:#ff7f24;}
.main-biao .b2 .carselect span img{ width:48px; height:34px; }

.main-biao .b3 p{ margin-top:2%; width:13%; text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b3 p:nth-child(1){ margin-right:2%; width:10%;}
.main-biao .b3 .np1{ margin-right:2%; width:10%;}
.main-biao .b3 p:nth-child(2){ margin-right:2%; width:25%;}
.main-biao .b3 .np2{ margin-right:2%; width:25%;}
.main-biao .b3 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b3 .np2 .time_input{ width:100%;}
.main-biao .b3 p input[type=text]{ line-height:26px; height:26px;  border:1px solid #999;}

.main-biao .b4 p{ margin-top:2%; text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b4 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b4 .np1{ margin-right:2%;  width:10%;}
.main-biao .b4 p:nth-child(2){ margin-right:1%; width:35%; position:relative;}
.main-biao .b4 .np2{ margin-right:1%; width:35%; position:relative;}
.main-biao .b4 p:nth-child(2) span{ position:absolute; bottom:-20px; left:0;}
.main-biao .b4 .np2 span{ position:absolute; bottom:-20px; left:0;}
.main-biao .b4 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b4 .np2 input[type=text]{ width:100%;}
.main-biao .b4 p input[type=text]{ line-height:26px; height:26px; border:1px solid #999;}
.main-biao .b4 p:nth-child(3){ margin-right:1%;}
.main-biao .b4 .np3{ margin-right:1%;}
.main-biao .b4 p:nth-child(4){ margin-right:1%;}
.main-biao .b4 .np4{ margin-right:1%;}
.main-biao .b4 p:nth-child(5){ /*width:15%;*/  margin-right:1%;position:relative;}
.main-biao .b4 .np5{ width:15%;  margin-right:1%;position:relative;}
.main-biao .b4 p:nth-child(5) input[type=text]{ width:100%;}
.main-biao .b4 .np5 input[type=text]{ width:100%;}
.main-biao .b4 p:nth-child(5) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b4 .np5 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b4 p:nth-child(6){ margin-right:1%;}
.main-biao .b4 .np6{ margin-right:1%;}
.main-biao .b4 p:nth-child(7){ width:15%;  margin-right:1%; position:relative;}
.main-biao .b4 .np7{ width:15%;  margin-right:1%; position:relative;}
.main-biao .b4 p:nth-child(7) input[type=text]{ width:100%;}
.main-biao .b4 .np7 input[type=text]{ width:100%;}
.main-biao .b4 p:nth-child(7) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b4 .np7 span{ position:absolute; bottom:-27px; left:0;}

.main-biao .b5{ margin-top:2%;}
.main-biao .b5 p{text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b5 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b5 .np1{ margin-right:2%;  width:10%;}
.main-biao .b5 p:nth-child(2){ margin-right:1%; width:35%; position:relative;}
.main-biao .b5 .np2{ margin-right:1%; width:35%; position:relative;}
.main-biao .b5 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 .np2 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b5 .np2 input[type=text]{ width:100%;}
.main-biao .b5 p:nth-child(2) a{ position:absolute;right: 2px;top: 2px;}
.main-biao .b5 .np2 a{ position:absolute;right: 2px;top: 2px;}
.main-biao .b5 p input[type=text]{ line-height:26px; height:26px; border:1px solid #999;}
.main-biao .b5 p:nth-child(3){ margin-right:1%;}
.main-biao .b5 .np3{ margin-right:1%;}
.main-biao .b5 p:nth-child(4){ margin-right:1%;}
.main-biao .b5 .np4{ margin-right:1%;}
.main-biao .b5 p:nth-child(5){ /*width:15%;*/  margin-right:1%;position:relative;}
.main-biao .b5 .np5{ width:15%;  margin-right:1%;position:relative;}
.main-biao .b5 p:nth-child(5) input[type=text]{ width:100%;}
.main-biao .b5 .np5 input[type=text]{ width:100%;}
.main-biao .b5 p:nth-child(5) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 .np5 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 p:nth-child(6){ margin-right:1%;}
.main-biao .b5 .np6{ margin-right:1%;}
.main-biao .b5 p:nth-child(7){ width:15%;  margin-right:1%; position:relative;}
.main-biao .b5 .np7{ width:15%;  margin-right:1%; position:relative;}
.main-biao .b5 p:nth-child(7) input[type=text]{ width:100%;}
.main-biao .b5 .np7 input[type=text]{ width:100%;}
.main-biao .b5 p:nth-child(7) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 .np7 span{ position:absolute; bottom:-27px; left:0;}

.sendtype { vertical-align: middle;}
.sendtype a {width:27px; height:27px; display:block;background:url(../images/operation.png) no-repeat left top;  }
.sendtype a.up{background-position: left top;}
.sendtype a.plus{background-position: left -27px; margin-top:1px;}

.sendtype a.reduction{background-position: left -54px; margin-top:1px;}
.sendtype a.down{background-position: left -81px; margin-top:1px;}

.sendtype a.up-no{background-position: right top;}
.sendtype a.plus-no{background-position: right -27px;}
.sendtype a.reduction-no{background-position: right -54px;}
.sendtype a.down-no{background-position: right -81px;}
/*
.main-biao .b4 p{ margin-top:2%; text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b4 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b4 p:nth-child(2){ margin-right:1%; width:35%; position:relative;}
.main-biao .b4 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b4 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b4 p input[type=text]{ line-height:26px; border:1px solid #999;}
.main-biao .b4 p:nth-child(3){ margin-right:2%;}
.main-biao .b4 p:nth-child(4){ margin-right:1%;}
.main-biao .b4 p:nth-child(5){ width:38%;  margin-right:1%;}
.main-biao .b4 p:nth-child(5) input[type=text]{ width:100%;}
.main-biao .b4 p:nth-child(5){  position:relative;}
.main-biao .b4 p:nth-child(5) img{ position:absolute;right: 2px;top: 2px;}

.main-biao .b5{ margin-top:2%;}
.main-biao .b5 p{ margin-top:2%; text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b5 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b5 p:nth-child(2){ margin-right:1%; width:1%3; position:relative;}
.main-biao .b5 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b5 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b5 p input[type=text]{ line-height:26px; border:1px solid #999;}
.main-biao .b5 p:nth-child(3){ margin-right:1%;  width:10%;}
.main-biao .b5 p:nth-child(4){ width:15%;}
*/
.main-biao .b6{ margin-top:1%;}
.main-biao .b6 p{ text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b6 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b6 .np1{ margin-right:2%;  width:10%;}
.main-biao .b6 p:nth-child(2){ width:25%; border:1px #999 solid; font-size: 0px; margin-top: 3px;}
.main-biao .b6 .np2{ width:25%; border:1px #999 solid; font-size: 0px; margin-top: 3px;}
.main-biao .b6 p:nth-child(2) select{margin-right:1%; width:100%; position:relative;  color: #999; height: 26px;}
.main-biao .b6 .np2 select{margin-right:1%; width:100%; position:relative;  color: #999; height: 26px;}
.main-biao .b6 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b6 .np2 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b6 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b6 .np2 input[type=text]{ width:100%;}
.main-biao .b6 p input[type=text]{ line-height:26px;height:26px; border:1px solid #999;}
.main-biao .b6 p:nth-child(3){ margin-right:1%;  width:10%;}
.main-biao .b6 .np3{ margin-right:1%;  width:10%;}
.main-biao .b6 p:nth-child(4){ width:15%;}
.main-biao .b6 .np4{ width:15%;}

.main-biao .b7{ margin-top:1%;}
.main-biao .b7 p{ text-align:right; color:#999; font-size:20px; float:left;}
.main-biao .b7 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b7 .np1{ margin-right:2%;  width:10%;}
.main-biao .b7 p:nth-child(2){margin-right:2%; width: 14.5%; }
.main-biao .b7 .np2{margin-right:2%; }
.main-biao .b7 p:nth-child(3){ width:8.5%;  border:1px #999 solid; font-size: 0px; margin-top: 3px;}
.main-biao .b7 .np3{ width:8.5%;  border:1px #999 solid; font-size: 0px; margin-top: 3px;}
.main-biao .b7 p:nth-child(3) select{margin-right:1%; width:100%; position:relative;  color: #999; text-align:center; height: 26px;}
.main-biao .b7 .np3 select{margin-right:1%; width:100%; position:relative;  color: #999; text-align:center; height: 26px;}
.main-biao .b7 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b7 .np2 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b7 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b7 p input[type=text]{ line-height:26px;height:26px; border:1px solid #999;}

.main-biao .b8{ margin-top:1%;}
.main-biao .b8 p{ text-align:right; color:#999; font-size:18px; float:left;}
.main-biao .b8 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b8 .np1{ margin-right:2%;  width:10%;}
.main-biao .b8 p:nth-child(2){margin-right:2%; width: 14.5%}
.main-biao .b8 .np2{margin-right:2%; }
.main-biao .b8 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b8 .np2 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b8 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b8 p input[type=text]{ line-height:26px; height: 26px; border:1px solid #999;}

.main-biao .b9{ margin-top:1%;display: none;}
.main-biao .b9 p{ text-align:right; color:#999; font-size:18px; float:left;}
.main-biao .b9 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b9 .np1{ margin-right:2%;  width:10%;}
.main-biao .b9 p:nth-child(2){margin-right:2%; width: 14.5%}
.main-biao .b9 .np2{margin-right:2%; }
.main-biao .b9 p:nth-child(2) span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b9 .np2 span{ position:absolute; bottom:-27px; left:0;}
.main-biao .b9 p:nth-child(2) input[type=text]{ width:100%;}
.main-biao .b9 p input[type=text]{ line-height:26px;height:26px; border:1px solid #999;}

.main-biao .b10{ margin-top:1%;}
.main-biao .b10 p{ text-align:right; color:#999; font-size:18px; float:left;}
.main-biao .b10 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b10 .np1{ margin-right:2%;  width:10%;}
.main-biao .b10 p:nth-child(4), .main-biao .b10 p:nth-child(6), .main-biao .b10 p:nth-child(8) , .main-biao .b10 p:nth-child(10){ margin-left:12%;}
.main-biao .b10 .np3,.main-biao .b10 .np4, .main-biao .b10 .np5, .main-biao .b10 .np6, .main-biao .b10 .np8 , .main-biao .b10 .np10{ margin-left:12%;}
.main-biao .b10 p input[type=text]{ line-height:26px; border:1px solid #999;}

.main-biao .b11{ margin-top:1%;}
.main-biao .b11 p{ margin-top:1%;color:#999; font-size:18px; float:left;}
.main-biao .b11 p:nth-child(1){ margin-right:2%;  width:10%; float:left; text-align: right;} 
.main-biao .b11 .np1{ margin-right:2%;  width:10%; float:left; text-align: right;} 
.main-biao .b11 p:nth-child(4),.main-biao .b11 p:nth-child(7),.main-biao .b11 p:nth-child(10),.main-biao .b11 p:nth-child(13){ margin-left:12%}
.main-biao .b11 .np4,.main-biao .b11 .np7,.main-biao .b11 .np10,.main-biao .b11 .np13{ margin-left:12%}
.main-biao .b11 p:nth-child(2) input:nth-child(2){ position:relative;}
.main-biao .b11 .np2 .ninput2{ position:relative;}
.main-biao .b11 p:nth-child(2) input:nth-child(2) span{ position:absolute; right:-100px;top:0;}
.main-biao .b11 .np2 .ninput2 span{ position:absolute; right:-100px;top:0;}
.main-biao .b11 p.hong{ color:#e60012; width: 70%;}

.main-biao .b12{ margin-top:1%;}
.main-biao .b12 p{ text-align:right; color:#999; font-size:18px; float:left;}
.main-biao .b12 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b12 .np1{ margin-right:2%;  width:10%;}
.main-biao .b12 p:nth-child(2){ margin-right:2%;  width:35%; border:1px solid #999;}
.main-biao .b12 .np2{ margin-right:2%;  width:35%; border:1px solid #999;}
.main-biao .b12 p:nth-child(2) input{ width:100%; line-height:26px; }
.main-biao .b12 .np2 input{ width:100%; line-height:26px; }

.main-biao .b13{ margin-top:1%;}
.main-biao .b13 p{margin-top:1%; width:55%; text-align:center; color:#999; font-size:18px;}
.main-biao .b13 span{ color:#e60012; font-size:18px; text-decoration: underline;}

.main-biao .b14{ margin-top:1%;}
.main-biao .b14 p{ margin-top:1%;color:#999; font-size:18px; float:left;}
.main-biao .b14 p:nth-child(1){ margin-right:2%;  width:10%; text-align:right}
.main-biao .b14 .np1{ margin-right:2%;  width:10%; text-align:right}
.main-biao .b14 p:nth-child(2) input{}

.main-biao .b15{ margin-top:1%;}
.main-biao .b15 p{ margin-top:1%; text-align:right; color:#999; font-size:18px; float:left;}
.main-biao .b15 p:nth-child(1){ margin-right:2%;  width:10%;}
.main-biao .b15 .np1{ margin-right:2%;  width:10%;}
.main-biao .b15 p:nth-child(2){ width:45%;}
.main-biao .b15 .np2{ width:45%;}
.main-biao .b15 input{ float:left; width:30%; line-height:45px; margin-right:3%; font-size:20px; font-weight:bold; background:#949191; cursor:pointer; outline:none;}

/*zhongjian end .foot{ width:100%; margin:2% auto; text-align:center; color:#999;}*/
/**底部**/
.foot{margin-top:10px;width: 100%;border-top: 2px solid #eee;color: #A2A2A2}
.foot .flink{margin:0 auto;width:990px;height:32px;line-height:32px; text-align: center;}
.foot a{color: #A2A2A2; font-size:12px}
.foot a:hover{color: #808080}