@charset "utf-8";
/*+----------------------------------------------------------------------------------*/

* { margin: 0; padding: 0; list-style: none; font-family: '微软雅黑'; }
.fl { float: left; }
.fr { float: right; }
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.cp { cursor:pointer; }
.w100p { width: 1020px; margin: auto; text-align: left; }
/*+----------------------------------------------------------------------------------*/

a { text-decoration: none; }
body { text-align: center; }
/*+----------------------------------------------------------------------------------*/

header { height: 12px; padding: 10px 0; background-color: #f5f5f5; font-size: 12px; }
header a { display: inline-block; color: #261cdc; }
header a.fl { margin-right: 12px; }
header a.fr { margin-left: 12px; }
header a:hover { color: #ff7f24; text-decoration: underline; }
/*+----------------------------------------------------------------------------------*/

section { width:100%; padding:15px 0; display:table; }
section a { width:176px; height:48px; display:inline-block; background:url(../images/logo.png) no-repeat; }
section form { width:410px; height:40px; display:inline-block; border:#ff7f24 2px solid; margin-left:240px; }
section form .txt { width:315px; height:16px; line-height:16px; padding:12px 15px; border:none; font-size:16px; color:#aaa; }
section form .btn { background:#ff7f24; color:#fff; font-size:16px; line-height:40px; width:65px; border:none; }
section form .btn:hover { background-color:#ed731d; }
/*+----------------------------------------------------------------------------------*/

nav { height:40px; line-height:40px; background-color:#ff7f24; }
nav a { width:80px; margin:0 10px 0 30px; display:inline-block; color:#fff; text-align:center; }
nav a:hover, nav a.hover { background-color:#ed731d; }
/*+----------------------------------------------------------------------------------*/

/*+----------------------------------------------------------------------------------*/
article { width:865px; display:table; margin:20px auto; padding:20px; border:#a2a2a2 1px solid; text-align:left; }

article img { max-width:865px; }
article .body {width:865px;margin: 0;}

#allmap {width:100%;height:500px;overflow: hidden;}
/*+----------------------------------------------------------------------------------*/
.selecter { width:100%; display:table; margin-bottom:0; font-size:20px; }
.selecter ul { width:100%; margin-bottom:5px; display:table; }
.selecter li { width:280px; }
.selecter li label { width:105px; display:inline-block; text-align:right; vertical-align:middle; }
.selecter .txt { width:150px; height:16px; line-height:16px; padding:7px; border:#b0aeae 1px solid; }
.selecter .btn { height:32px; line-height:32px; border:none; background-color:#ff7f24; color:#fff; font-size:15px; padding:0 20px; border-radius:5px; margin-left:8px; }
.selecter .btn.hand { background-image:url(../images/hand.png); background-repeat:no-repeat; background-position:10px center; padding:0 10px 0 45px; }
.selecter .btn:hover { background-color:#ed731d; }

.selecter .select_all {border:none;background-color: white; width: 32px;height: 32px; line-height: 32px;}
.selecter .tsela {width: 100%;height: 32px; }
.selecter .selall {border:none;background-color: white;height: 32px; line-height: 32px;}
.selecter input[type='checkbox'] { margin-right: 7px; }

/*+----------------------------------------------------------------------------------*/
.selectrecord { width:100%; display:table; margin-bottom:5px; font-size:20px; text-indent:2em; }
.selectrecord i { color:#ff7f24; }

/*+----------------------------------------------------------------------------------*/
.bodyleftlist { width:605px; border:#a2a2a2 1px solid; }
.bodyleftlist dl { width:100%; height:45px; display:table; text-align:center; background:#f6b37f; font-size:30px; color:#128027; }
.bodyleftlist ul a { height:80px; display:block; margin:22px; font-size:12px; color:#6a6a6a; }
.bodyleftlist ul a img { width:100px; height:65px; }
.bodyleftlist ul a span.fl { width:260px; display:block; margin-left:50px; font-size:13px; }
.bodyleftlist ul a span.fl tt { color:#2a854e; }
.bodyleftlist ul a span.fr { width:90px; display:block; margin-top:15px; }
.bodyleftlist ul a span.fr big { color:#f60d0e; font-size:20px; }
.bodyleftlist ul a span.fr small { color:#f60d0e; }
.bodyleftlist ul a span.fr small { color:#f60d0e; }

.bodyleftlist input[name=curPage] { width: 30px; height: 30px; text-align: center;}
.bodyleftlist .btn { height:33px; width: 30px; line-height:34px; border:none; background-color:#ff7f24; color:#fff; font-size:10px;
						padding:0 3px; margin-top: 6px; margin-left: 5px; }

/*+----------------------------------------------------------------------------------*/
.bodyrightcompany { width:225px; border:#a2a2a2 1px solid; }
.bodyrightcompany dl { width:100%; height:45px; display:table; text-align:center; background:#f6b37f; font-size:30px; color:#128027; }
.bodyrightcompany ul a { width:200px; height:50px; display:block; margin:12px; font-size:12px; }
.bodyrightcompany ul a img { width:70px; height:50px; }
.bodyrightcompany ul a span { width:100px; display:inline-block; color:#6a6a6a; font-size: 14px;}
.bodyrightcompany ul a tt { color:#5da46c; font-size: 14px;}

/*+----------------------------------------------------------------------------------*/
.pagetop { height:45px; background-color:#c9c9c9; }
.pagetop dt { height:30px; display:inline-block; padding:0 10px; line-height:30px; margin:7px 15px; background-color:#31b2ee; border-radius:5px; color:#fff; font-size:17px; }
.pagetop dd { margin-right:15px; }
.pagetop dd span { vertical-align:middle; display:inline-block;line-height:45px; font-size:20px; }
.pagetop dd a { vertical-align:middle; display:inline-block; width:30px; height:30px; margin:7px 0 7px 7px; border:#434343 1px solid; }
.pagetop dd a.prev { background:url(../images/prev.png)  no-repeat center center; }
.pagetop dd a.next { background:url(../images/next.png)  no-repeat center center; }

/*+----------------------------------------------------------------------------------*/

footer { border-top:#bdbaba 1px solid; padding:20px 0; line-height:1.8em; font-size: 14px; color:#a2a2a2; }
footer a { color:#a2a2a2; }
footer a:hover { color: #ff7f24; text-decoration: underline; }
