@charset "gbk";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	font: 12px/1.5 tahoma,\5b8b\4f53,sans-serif
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

address,cite,dfn,em,var {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

a {
	text-decoration: none;
	color: #1181ff
}

a:hover {
	text-decoration: none;
	color: #f60
}

a:focus {
	outline: 0;
	-moz-outline: 0
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,img,a {
	border: 0 none;
	outline: 0 none
}

button,input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input,textarea,select {
	outline: 0
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}

abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time {
	display: block;
	height: auto
}

textarea {
	resize: none
}

::-ms-reveal {
	display: none
}

::-ms-reveal {
	display: none
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

*html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

.d_main {
	width: 980px;
	margin: 40px auto 0;
	position: relative;
	z-index: 9;
	padding-bottom: 100px
}

.d_main .d_mainLeft {
	width: 680px;
	float: left;
	_display: inline
}

.d_main .d_mainRight {
	width: 280px;
	float: right;
	_display: inline
}

.positionIconC,.ok_icon,.err_icon,.right_iconB,.icon_z,.icon_y,.good_icon,.img_icon,.chilia_icon,.chilib_icon,.dropUp_icon,.QQ_icon,.WB_icon,.WX_icon,.eye_icon,.tabMask_icon_a,.tabMask_icon_b,.tabMask_icon_c,.tabMask_icon_d,.tabMask_icon_e,.dropDown_icon,.set_icon,.QQ_iconB,.WB_iconB,.WX_iconB,.xy_icon,.user_icon,.password_icon,.positionIconA,.right_icon,.ui-state-default,.seach_btn_icon,.positionIconB,.select h3 .selectBtn,.com-face_icon,.com-pic_icon,.starOff,.starOn,.closeUpload,.delIconS,.seach_btn_iconB {
	background: url("images/iconreg.png") no-repeat;
	overflow: hidden;
	display: inline-block;
	position: relative;
	z-index: 9
}

.QQ_icon,.WB_icon,.WX_icon {
	height: 35px;
	top: 2px
}

.QQ_icon {
	background-position: -163px -93px;
	width: 26px
}

.WB_icon {
	background-position: -190px -93px;
	width: 38px
}

.WX_icon {
	background-position: -229px -93px;
	width: 37px
}

.eye_icon {
	background-position: -275px -47px;
	width: 36px;
	height: 20px
}

.tabMask_icon_a {
	width: 25px;
	height: 22px;
	background-position: -18px -101px
}

.tabMask_icon_b {
	width: 23px;
	height: 22px;
	background-position: -45px -101px
}

.tabMask_icon_c {
	width: 20px;
	height: 23px;
	background-position: -250px -28px
}

.tabMask_icon_d {
	width: 23px;
	height: 19px;
	background-position: -114px -103px
}

.tabMask_icon_e {
	width: 24px;
	height: 19px;
	background-position: -138px -103px
}

.dropDown_icon {
	width: 16px;
	height: 10px;
	background-position: -345px -17px
}

.dropUp_icon {
	width: 16px;
	height: 10px;
	background-position: -345px 0
}

.set_icon {
	width: 21px;
	height: 21px;
	background-position: -91px -103px
}

.QQ_iconB {
	width: 43px;
	height: 51px;
	background-position: -101px 0
}

.WB_iconB {
	width: 61px;
	height: 51px;
	background-position: -101px -52px
}

.WX_iconB {
	width: 61px;
	height: 51px;
	background-position: -145px 0
}

.xy_icon {
	width: 10px;
	height: 12px;
	background-position: -328px -85px
}

.user_icon {
	width: 20px;
	height: 22px;
	background-position: -70px -101px
}

.password_icon {
	width: 17px;
	height: 22px;
	background-position: 0 -101px
}

.positionIconA {
	width: 10px;
	height: 15px;
	background-position: -328px 0
}

.right_icon {
	width: 100px;
	height: 100px;
	background-position: 0 0
}

.ui-state-default {
	width: 25px;
	height: 25px;
	background-position: -248px -54px
}

.seach_btn_icon {
	width: 19px;
	height: 19px;
	background-position: -287px 0
}

.positionIconB {
	width: 22px;
	height: 30px;
	background-position: -195px -51px
}

.select h3 .selectBtn {
	width: 17px;
	height: 19px;
	background-position: -267px -105px
}

.com-face_icon {
	width: 16px;
	height: 16px;
	background-position: -328px -17px
}

.com-pic_icon {
	width: 15px;
	height: 16px;
	background-position: -328px -34px
}

.starOff,.starOn {
	width: 17px;
	height: 15px
}

.starOff {
	background-position: -310px -84px
}

.starOn {
	background-position: -310px -68px
}

.closeUpload {
	width: 15px;
	height: 15px;
	background-position: -328px -51px
}

.chilia_icon {
	width: 17px;
	height: 16px;
	background-position: -306px 0
}

.chilib_icon {
	width: 17px;
	height: 16px;
	background-position: -309px -17px
}

.img_icon {
	width: 16px;
	height: 16px;
	background-position: -328px -102px
}

.good_icon {
	width: 16px;
	height: 17px;
	background-position: -292px -68px
}

.icon_z {
	width: 17px;
	height: 17px;
	background-position: -304px -104px
}

.icon_y {
	width: 17px;
	height: 17px;
	background-position: -292px -86px
}

.right_iconB {
	width: 16px;
	height: 16px;
	background-position: -285px -105px
}

.ok_icon {
	width: 30px;
	height: 30px;
	background-position: -207px 0
}

.err_icon {
	width: 30px;
	height: 30px;
	background-position: -217px -62px
}

.positionIconC {
	width: 21px;
	height: 27px;
	background-position: -239px 0
}

.delIconS {
	width: 10px;
	height: 10px;
	background-position: -366px -4px
}

.seach_btn_iconB {
	width: 24px;
	height: 24px;
	background-position: -381px 0
}

.d_closeBtn {
	width: 40px;
	height: 40px;
	background: url("/images/web/3.0/d_closeBtn.png") no-repeat
}

.preNext {
	width: 60px;
	height: 60px;
	background: url("/images/web/3.0/index-changListBtn.png") no-repeat;
	display: block
}

.preNext.next {
	background-position: 0 0
}

.preNext.pre {
	background-position: 0 -60px
}

.bank01,.bank02,.bank03,.bank04,.bank05,.bank06,.bank07,.bank08,.bank09,.bank10,.bank11,.bank12,.bank13,.bank14,.bank15,.bank16,.bank17,.bank18,.bank19,.bank20,.bank21,.bank22,.bank23,.bank24 {
	background: url("/images/web/3.0/bank.png") no-repeat;
	width: 154px;
	height: 33px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	z-index: 9
}

.bank01 {
	background-position: 0 0
}

.bank02 {
	background-position: -155px 0
}

.bank03 {
	background-position: -310px 0
}

.bank04 {
	background-position: -465px 0
}

.bank05 {
	background-position: -620px 0
}

.bank06 {
	background-position: -775px 0
}

.bank07 {
	background-position: -930px 0
}

.bank08 {
	background-position: -1085px 0
}

.bank09 {
	background-position: -1240px 0
}

.bank10 {
	background-position: -1395px 0
}

.bank11 {
	background-position: -1550px 0
}

.bank12 {
	background-position: -1705px 0
}

.bank13 {
	background-position: -1860px 0
}

.bank14 {
	background-position: -2015px 0
}

.bank15 {
	background-position: -2170px 0
}

.bank16 {
	background-position: -2325px 0
}

.bank17 {
	background-position: -2480px 0
}

.bank18 {
	background-position: -2635px 0
}

.bank19 {
	background-position: -2790px 0
}

.bank20 {
	background-position: -2945px 0
}

.bank21 {
	background-position: -3100px 0
}

.bank22 {
	background-position: -3255px 0
}

.bank23 {
	background-position: -3410px 0
}

.bank24 {
	background-position: -3565px 0
}

.timeIcon {
	width: 41px;
	height: 72px;
	background: url("/images/web/3.0/ingIcon.gif") no-repeat;
	display: block
}

.exchangeOff,.exchangeOn,.d_sendBox .ex_icon,.d_closedBox .ex_icon,.d_sendBox .ex_iconB,.d_closedBox .ex_iconB,.delIconEx,.modifyIconEx,.delIconExB,.modifyIconExB {
	background: url("/images/web/3.0/runIcon.png") no-repeat;
	overflow: hidden;
	display: inline-block;
	position: relative;
	z-index: 9
}

.exchangeOff {
	width: 61px;
	height: 61px;
	background-position: 0 0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px
}

.exchangeOn {
	background-position: 0 -62px;
	cursor: pointer
}

.exchangeOn:hover {
	opacity: .9
}

.d_sendBox .ex_icon,.d_closedBox .ex_icon {
	width: 45px;
	height: 60px
}

.d_sendBox .ex_icon {
	background-position: -62px 0
}

.d_closedBox .ex_icon {
	background-position: -62px -61px
}

.d_sendBox .ex_iconB,.d_closedBox .ex_iconB {
	width: 31px;
	height: 41px
}

.d_sendBox .ex_iconB {
	background-position: 0 -124px
}

.d_closedBox .ex_iconB {
	background-position: -32px -124px
}

.delIconEx {
	width: 18px;
	height: 24px;
	background-position: -64px -122px
}

.modifyIconEx {
	width: 24px;
	height: 24px;
	background-position: -83px -122px
}

.delIconExB {
	width: 20px;
	height: 20px;
	background-position: -25px -166px
}

.modifyIconExB {
	width: 24px;
	height: 24px;
	background-position: 0 -166px
}

.runSettlementBox .loadIng {
	width: 32px;
	height: 32px;
	display: block;
	background: url("/images/web/3.0/laoding.gif") no-repeat
}

.d_backTop {
	width: 50px;
	height: 50px;
	display: block;
	background: url("/images/web/3.0/backTop.png") no-repeat;
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none
}

.d_backTop:hover {
	opacity: .8
}

.backBeforBtn {
	width: 60px;
	height: 60px;
	background: url("/images/web/3.0/back.gif") no-repeat;
	display: block
}

.phoneBg {
	width: 112px;
	height: 215px;
	background: url("/images/web/3.0/phoneBg.png") no-repeat;
	position: absolute;
	z-index: 9;
	right: 0;
	bottom: 0;
	padding: 54px 0 0 50px;
	display: block
}

.btnOrg40,.btnWhite40,.btnOrg48,.btnWhite48,.btnOrg30,.btnGrey48 {
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	display: inline-block;
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 16px;
	border-radius: 4px
}

.btnOrg40,.btnOrg48,.btnOrg30 {
	background: #ec7b01;
	border: 1px solid #ec7b01;
	color: #fff;
	cursor: pointer
}

.btnOrg40:hover,.btnOrg48:hover,.btnOrg30:hover {
	color: #fff
}

.btnOrg48 {
	height: 48px;
	line-height: 48px;
	font-size: 18px
}

.btnOrg30 {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	border-radius: 0
}

.btnWhite40,.btnWhite48 {
	background: #fff;
	border: 1px solid #ec7b01;
	color: #ec7b01;
	cursor: pointer
}

.btnWhite40:hover,.btnWhite48:hover {
	color: #ec7b01
}

.btnGrey48 {
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	background: #eee;
	border: 1px solid #eee;
	color: #aaa;
	cursor: pointer
}

.btnGrey48:hover {
	color: #aaa
}

.btnWhite48 {
	height: 48px;
	line-height: 48px;
	font-size: 18px
}

.input40 {
	height: 28px;
	width: 288px;
	padding: 5px 5px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 14px
}

.input40:focus {
	border: 1px solid #ffa50f;
	-webkit-box-shadow: 0 0 3px rgba(255,165,15,0.8);
	-moz-box-shadow: 0 0 3px rgba(255,165,15,0.8);
	-o-box-shadow: 0 0 3px rgba(255,165,15,0.8);
	-ms-box-shadow: 0 0 3px rgba(255,165,15,0.8);
	box-shadow: 0 0 3px rgba(255,165,15,0.8)
}

.input40.shake {
	background: #ffe9e8;
	color: #d00
}

.input40.errorInput {
	border: 1px solid #e32e05;
	-webkit-box-shadow: 0 0 3px rgba(227,46,5,0.8);
	-moz-box-shadow: 0 0 3px rgba(227,46,5,0.8);
	-o-box-shadow: 0 0 3px rgba(227,46,5,0.8);
	-ms-box-shadow: 0 0 3px rgba(227,46,5,0.8);
	box-shadow: 0 0 3px rgba(227,46,5,0.8)
}

textarea {
	border: 1px solid #ccc;
	outline: 0 none;
	overflow: auto;
	resize: none
}

.loginInput {
	width: 258px;
	height: 29px;
	line-height: 29px;
	padding: 2px 0 2px 40px;
	border: 0;
	background: 0
}

.formList label {
	display: block;
	height: 40px;
	line-height: 40px;
	font-family: 'Microsoft YaHei','SimSun';
	float: left;
	_display: inline;
	font-size: 16px;
	color: #666
}

.formList input {
	float: left;
	_display: inline;
	margin-right: 10px
}

.formList .con {
	float: left;
	_display: inline
}

.formList .error {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 14px;
	color: #e32e05;
	padding-top: 5px;
	clear: both
}

.formList .voiceText {
	font-size: 14px;
	color: #666;
	padding-top: 5px;
	clear: both
}

.formList .voiceText em {
	color: red
}

.formList .conBox .rightIcon,.formList .conBox .errorIcon {
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: block;
	float: left;
	margin-top: 10px
}

.formList .conBox .rightIcon {
	background: url("/images/web/3.0/rightIcon.png") no-repeat
}

.formList .conBox .errorIcon {
	background: url("/images/web/3.0/errorIcon.png") no-repeat
}

.w88 {
	width: 88px
}

.w208 {
	width: 208px
}

.w418 {
	width: 418px
}

.d_head {
	background: #f9f9f9;
	border-bottom: 1px solid #eea658;
	height: 80px
}

.d_headBox {
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	z-index: 999
}

.d_headBox .logo {
	display: block;
	width: 310px;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	padding-top: 17px
}

.d_headBox .cityChoose {
	width: 124px;
	position: absolute;
	bottom: 15px;
	left: 195px;
	text-align: center
}

.d_headBox .cityChoose a,.d_headBox .cityChoose b {
	display: inline-block
}

.d_headBox .cityChoose b {
	color: #ccc;
	padding: 0 2px;
	font-weight: 100
}

.d_headBox .cityChoose a {
	color: #999
}

.d_headBox .cityChoose a:hover {
	text-decoration: underline;
	color: #999
}

.d_headBox .cityChoose a.on {
	color: #ec7b01
}

.d_headBox .cityChoose a.on:hover {
	color: #ec7b01;
	text-decoration: none
}

.d_headBox .cityChooseRun {
	left: 0;
	top: 25px
}

.d_headBox .cityChooseRun a,.d_headBox .cityChooseRun b {
	font-size: 16px;
	font-family: 'Microsoft YaHei','SimSun'
}

.d_headBox .noLogin,.d_headBox .inLogin {
	float: right;
	padding-top: 17px
}

.d_headBox .noLogin a {
	float: right;
	margin-left: 20px
}

.d_headBox .noLogin a:hover {
	opacity: .8
}

.d_headBox .noLogin a.btnWhite40 {
	margin-left: 5px
}

.d_headBox .inLogin .btnWhite40 {
	float: right;
	border: 1px solid #f9f9f9;
	background: #f9f9f9
}

.d_headBox .inLogin .btnWhite40 .eye_icon,.d_headBox .inLogin .btnWhite40 strong {
	display: inline-block
}

.d_headBox .inLogin .btnWhite40 .eye_icon {
	top: 4px;
	*top: 0
}

.d_headBox .inLogin .btnWhite40 strong {
	font-weight: 100
}

.d_headBox .inLogin .btnWhite40:hover {
	background: #ec7b01;
	border: 1px solid #ec7b01;
	color: #fff
}

.d_headBox .inLogin .btnWhite40:hover .eye_icon {
	background-position: -273px -26px
}

.d_headBox .inLogin .uesNameBox {
	float: right;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 20px;
	position: relative;
	z-index: 999
}

.d_headBox .inLogin .uesNameBox .uesName {
	font-size: 16px;
	color: #666;
	font-family: 'Microsoft YaHei','SimSun';
	height: 40px;
	line-height: 40px;
	display: block
}

.d_headBox .inLogin .uesNameBox .uesName:hover {
	color: #666
}

.d_headBox .inLogin .uesNameBox .triangle_icon {
	width: 0;
	height: 0;
	border: 4px solid;
	border-color: #666 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	margin: 0 0 0 5px;
	position: absolute;
	top: 20px;
	right: 5px;
	overflow: hidden;
	display: block;
	-webkit-transition: -webkit-transform .2s ease-in;
	-moz-transition: -moz-transform .2s ease-in;
	-o-transition: -o-transform .2s ease-in;
	transition: transform .2s ease-in
}

.d_headBox .inLogin .uesNameBox .iconRotate {
	top: 15px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.d_headBox .inLogin .useList {
	width: 106px;
	padding: 1px;
	background: #fff;
	border: 1px solid #ec7b01;
	position: absolute;
	top: 40px;
	right: 0;
	overflow: hidden
}

.d_headBox .inLogin .useList li {
	line-height: 30px
}

.d_headBox .inLogin .useList li a {
	width: 91px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 14px;
	color: #666;
	display: block;
	padding-left: 15px
}

.d_headBox .inLogin .useList li a:hover {
	background: #eee;
	color: #666
}

.d_headBox .activityBanner {
	height: 80px;
	display: block;
	float: left
}

.tabMask {
	width: 40px;
	background: #3c71b8;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1999
}

.tabMask .moduleRun {
	margin-top: 30px
}

.tabMask .line {
	width: 30px;
	border-top: 1px solid #759acb;
	margin: 5px;
	display: block;
	height: 1px;
	line-height: 1px
}

.tabMask .module a {
	padding: 10px 0;
	width: 40px;
	display: block;
	color: #fff
}

.tabMask .module a:hover {
	background: #ec7b01;
	color: #fff
}

.tabMask .module a em {
	text-align: center;
	display: block;
	color: #fff;
	padding: 5px 15px 0;
	cursor: pointer
}

.tabMask .module a span {
	display: block;
	margin: 0 auto;
	cursor: pointer
}

.tabMask .module a img {
	display: none
}

.tabMask .h40 {
	height: 40px
}

.tabMask .backTop {
	position: absolute;
	bottom: 10px;
	z-index: 9999
}

.tabMask .backTop .triangle_icon {
	width: 0;
	height: 0;
	border: 4px solid;
	border-color: transparent transparent #fff transparent;
	border-style: dashed dashed solid dashed;
	overflow: hidden
}

.tabMask .backTop strong {
	text-align: center;
	padding-top: 2px;
	display: block
}

.tabMask .module li {
	position: relative;
	z-index: 1000;
	background: #3c71b8
}

.tabMask .module li .tips {
	position: absolute;
	right: 100px;
	top: 0;
	padding: 10px;
	background: #ec7b01;
	color: #fff;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-o-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

.tabMask .module li .tips .triangle_icon {
	width: 0;
	height: 0;
	border: 6px solid;
	border-color: transparent transparent transparent #ec7b01;
	border-style: dashed dashed dashed solid;
	position: absolute;
	right: -10px;
	top: 12px;
	overflow: hidden
}

.tabMask .module li .tips img {
	float: left
}

#webFooter {
	border-top: 1px solid #ddd;
	padding-top: 29px;
	background: #fff;
	*zoom: 1
}

#webFooter .webMainModel {
	margin: 0 auto;
	position: relative;
	width: 980px
}

#webFooter .footerModel {
	float: left;
	width: 194px;
	padding-left: 50px;
	border-left: 1px solid #ddd
}

#webFooter .footerModel-title {
	font-size: 16px;
	color: #333;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	padding-left: 25px;
	font-weight: 400;
	font-family: 'Microsoft YaHei','SimSun'
}

#webFooter .footerModel-list {
	margin-top: 14px
}

#webFooter .footerModel-list a {
	color: #999
}

#webFooter .footerModel-list a:hover {
	color: #f7882e
}

#webFooter .footerModel-list li {
	line-height: 26px;
	padding-left: 25px;
	background: url(/images/web/3.0/icon1.png) no-repeat 0 -137px
}

#footer-about h3,#footer-distribution h3,#footer-helpCenter h3 {
	background: url(/images/web/3.0/icon1.png) no-repeat 0 -107px
}

#footer-about h3 {
	background-position: 0 -124px
}

#footer-helpCenter h3 {
	background-position: 0 -86px
}

#webFooter #footer-CustServer {
	padding-left: 50px;
	border: 0
}

#webFooter .footer-serverTime h4 {
	background-position: 0 -30px
}

#webFooter .footer-webCement {
	padding: 0
}

#webFooter .footer-serverTime {
	padding-bottom: 12px
}

#webFooter .footer-webCement h4 {
	background-position: 0 -59px
}

#footer-CustServer li {
	padding: 12px 0 17px
}

#footer-CustServer h4 {
	background: url(/images/web/3.0/icon1.png) no-repeat;
	line-height: 24px;
	height: 24px;
	color: #666;
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 16px;
	font-weight: 400;
	padding-left: 34px
}

#footer-CustServer h4 a {
	color: #666
}

#footer-CustServer h4 a:hover {
	color: #666
}

#footer-CustServer img,#footer-CustServer p {
	margin-left: 34px;
	display: block;
	color: #f67511
}

#footer-CustServer .footer-serverHotline h4 {
	background-position: 0 -1px
}

.footer-Copyright {
	text-align: center;
	color: #646464;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	padding: 35px 0 18px
}

.d_seach {
	height: 400px;
	background: #000 url("/images/web/3.0/seach_bg.jpg") no-repeat center;
	margin-bottom: 30px
}

.d_seachChristmas {
	background: #710100 url("/images/web/3.0/seachChristmas_bg.jpg") no-repeat center
}

.d_seachNewyear {
	background: #9f011c url("/images/web/3.0/seachNewyear_bg.jpg") no-repeat center
}

.d_seachSpring {
	background: #bd141a url("/images/web/3.0/seachSpring_bg.jpg") no-repeat center
}

.d_seachBox {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 998;
	height: 400px
}

.d_seachBox .d_seachMain {
	width: 670px;
	float: left;
	margin: 100px 0 0 110px;
	_display: inline
}

.d_seachBox .d_seachMain h2 {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 40px;
	color: #fff;
	font-weight: 900;
	text-align: center;
	height: 44px;
	line-height: 44px;
	margin-bottom: 40px
}

.d_seachBox .d_seachMain .d_seachCon {
	width: 670px;
	height: 60px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	box-shadow: 0 3px 5px rgba(0,0,0,0.5)
}

.d_seachBox .d_seachMain .selectBox {
	float: left;
	position: relative;
	z-index: 990;
	_display: inline
}

.d_seachBox .d_seachMain .selectBox .dropDown_iconBox {
	height: 60px;
	width: 40px;
	display: block;
	position: absolute;
	top: 0;
	right: 0
}

.d_seachBox .d_seachMain .selectBox .dropDown_icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -8px
}

.d_seachBox .d_seachMain .selectBox .positionIconB {
	position: absolute;
	right: 10px;
	top: 15px
}

.d_seachBox .d_seachMain .citySelect {
	width: 100px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	margin-right: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	box-shadow: 0 3px 5px rgba(0,0,0,0.5)
}

.d_seachBox .d_seachMain .citySelect input {
	width: 80px;
	height: 60px;
	line-height: 60px;
	border: 0;
	background: #fff;
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 20px;
	color: #ec7b01;
	padding-left: 20px
}

.d_seachBox .d_seachMain .citySelect .dropDown_iconBox {
	height: 60px;
	width: 100px;
	display: block;
	position: absolute;
	top: 0;
	right: 0
}

.d_seachBox .d_seachMain .citySelect .dropDown_icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 20px
}

.d_seachBox .d_seachMain .addressSelect {
	width: 460px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3)
}

.d_seachBox .d_seachMain .addressSelect input {
	width: 400px;
	height: 34px;
	line-height: 34px;
	border: 0;
	background: #fff;
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 20px;
	color: #666;
	padding: 13px 40px 13px 20px
}

.d_seachBox .d_seachMain .addressSelect .shake {
	background: #ffe9e8;
	color: #d00
}

.d_seachBox .d_seachMain .searchBtn {
	width: 100px;
	height: 60px;
	text-align: center;
	cursor: pointer;
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 20px;
	color: #fff;
	background: 0;
	border: 0;
	float: left;
	_display: inline;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	background: #e36c01;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ec7a01),to(#da5d00));
	background: -moz-linear-gradient(top,#ec7a01,#da5d00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec7a01,endColorstr=#da5d00,grandientType=1)
}

.d_seachBox .d_seachMain .selectList {
	position: absolute;
	background: #fff;
	border: 1px solid #ec7b01;
	top: 57px;
	left: 0;
	z-index: 998;
	display: none
}

.d_seachBox .d_seachMain .selectList li {
	border-bottom: 1px solid #ddd;
	height: 44px;
	line-height: 44px;
	padding: 1px 0
}

.d_seachBox .d_seachMain .selectList li a {
	display: block;
	padding: 0 20px;
	color: #666;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.d_seachBox .d_seachMain .selectList li a:hover {
	background: #eee
}

.d_seachBox .d_seachMain .selectList li.lastSet span,.d_seachBox .d_seachMain .selectList li.lastSet a {
	float: right
}

.d_seachBox .d_seachMain .selectList li.lastSet a {
	color: #ec7b01;
	padding: 0 10px
}

.d_seachBox .d_seachMain .selectList li.lastSet a:hover {
	background: #fff
}

.d_seachBox .d_seachMain .selectList li.lastSet span.set_icon {
	top: 10px
}

.d_seachBox .d_seachMain .selectList li.hover a {
	background: #eee
}

.d_seachBox .d_seachMain .selectList li.lastSet.hover a {
	background: #fff
}

.d_seachBox .d_seachMain .selectList li:last-child {
	border-bottom: 0
}

.d_seachBox .d_seachMain .selectListCity {
	width: 96px;
	padding: 0 1px
}

.d_seachBox .d_seachMain .selectListAddress {
	width: 457px;
	padding: 0 1px
}

.d_seachBox .downApp {
	width: 70px;
	height: 70px;
	display: block;
	overflow: hidden
}

.d_links {
	width: 880px;
	margin: 0 auto 50px;
	background: #fff;
	position: relative;
	z-index: 9;
	padding: 10px 20px 10px 80px
}

.d_links h3 {
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	text-align: right;
	width: 80px
}

.d_links ul li {
	float: left;
	padding: 5px 0 5px 20px;
	white-space: nowrap
}

.d_links ul li a {
	color: #999
}

.d_links ul li a:hover {
	color: #f7882e
}

.moduleIndex {
	width: 980px;
	margin: 0 auto
}

.moduleIndex h2 {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 22px;
	font-weight: 100;
	padding-bottom: 15px
}

.moduleIndex h2 a {
	color: #ec7b01;
	margin-left: 30px;
	font-size: 14px
}

.moduleIndex h2 a:hover {
	text-decoration: underline
}

.d_recommend {
	margin-bottom: 30px
}

.d_recommend .d_recommendBox {
	position: relative;
	z-index: 9
}

.d_recommend .d_recommendCon {
	background: #fff;
	overflow: hidden;
	position: relative;
	z-index: 9;
	width: 980px;
	height: 300px
}

.d_recommend .d_recommendCon ul {
	position: absolute
}

.d_recommend .d_recommendCon li {
	float: left;
	_display: inline;
	width: 980px;
	height: 300px
}

.d_recommend .d_recommendCon dd {
	width: 182px;
	height: 137px;
	overflow: hidden;
	float: left;
	_display: inline;
	margin: 9px 0 0 12px
}

.d_recommend .d_recommendCon dd a {
	width: 180px;
	height: 135px;
	border: 1px solid #eee;
	display: block;
	color: #666
}

.d_recommend .d_recommendCon dd a img {
	width: 180px;
	height: 135px
}

.d_recommend .d_recommendCon dd a:hover {
	border: 1px solid #ec7b01;
	color: #666
}

.d_recommend .preNext {
	position: absolute;
	top: 121px;
	cursor: pointer;
	display: none
}

.d_recommend .preNext.pre {
	left: -70px
}

.d_recommend .preNext.next {
	right: -70px
}

.d_recommend .preNext:hover {
	opacity: .8
}

.d_information {
	margin-bottom: 50px
}

.d_information .d_informationList {
	background: #fff
}

.d_information .d_informationList li {
	width: 296px;
	height: 100px;
	overflow: hidden;
	background: #fff;
	padding: 15px;
	float: left;
	_display: inline;
	cursor: pointer
}

.d_information .d_informationList li a {
	color: #666
}

.d_information .d_informationList li a:hover {
	opacity: .8;
	color: #666
}

.d_information .d_informationList li img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	_display: inline;
	cursor: pointer
}

.d_information .d_informationList li dl {
	width: 180px;
	float: right;
	cursor: pointer
}

.d_information .d_informationList li dl dt {
	width: 180px;
	font-family: 'Microsoft YaHei','SimSun';
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	padding-bottom: 10px;
	color: #333
}

.d_information .d_informationList li dl dd {
	font-size: 12px;
	color: #666;
	height: 55px;
	overflow: hidden;
	line-height: 1.6
}

.d_banner {
	width: 980px;
	margin: 0 auto 30px
}

.d_banner .d_bannerCon {
	width: 760px;
	height: 185px;
	overflow: hidden;
	position: relative;
	z-index: 9;
	float: left;
	background: #fff
}

.d_banner .d_bannerCon ul {
	position: absolute;
	height: 185px;
	z-index: 8
}

.d_banner .d_bannerCon ul li {
	width: 760px;
	height: 185px;
	float: left;
	_display: inline
}

.d_banner .d_bannerCon ul li a {
	width: 760px;
	height: 185px;
	display: block;
	color: #666
}

.d_banner .d_bannerCon ul li a img {
	width: 760px;
	height: 185px
}

.d_banner .d_bannerCon #num {
	position: absolute;
	bottom: 10px;
	height: 10px;
	width: 760px;
	text-align: center;
	z-index: 99
}

.d_banner .d_bannerCon #num span {
	width: 10px;
	height: 10px;
	background: #fff;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 10px
}

.d_banner .d_bannerCon #num span.on {
	background: #ff9645
}

.d_banner .d_bannerR {
	width: 200px;
	height: 185px;
	overflow: hidden;
	float: right;
	_display: inline
}

.d_banner .d_bannerR a:hover {
	opacity: .8
}

.d_whiteBg {
	background: #fff;
	border-bottom: 1px solid #ddd
}

.d_loginBox {
	background: #000 url("loginBg.jpg") no-repeat center;
	height: 606px;
	overflow: hidden;
	width: 100%
}

.d_loginBox .loginBox {
	width: 960px;
	height: 340px;
	background: #fff;
	margin: 107px auto 0;
	padding-top: 40px
}

.d_loginBox .loginBox .loginBoxL {
	width: 450px;
	float: left;
	_display: inline
}

.d_loginBox .loginBox .loginBoxL .d_otherLogin {
	margin-left: 80px
}

.d_loginBox .loginBox .loginBoxR {
	width: 415px;
	float: left;
	border-left: 1px solid #ddd;
	padding-left: 85px
}

.d_loginBox .loginBox .loginBoxR h2 {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 18px;
	color: #666;
	padding-bottom: 15px;
	font-weight: 100
}

.d_loginBox .loginBox .loginBoxR .inputBox li {
	position: relative;
	z-index: 9;
	width: 298px;
	height: 33px;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 15px
}

.d_loginBox .loginBox .loginBoxR .inputBox li .user_icon,.d_loginBox .loginBox .loginBoxR .inputBox li .password_icon {
	position: absolute;
	z-index: 99;
	top: 5px
}

.d_loginBox .loginBox .loginBoxR .inputBox li .user_icon {
	left: 9px
}

.d_loginBox .loginBox .loginBoxR .inputBox li .password_icon {
	left: 11px
}

.d_loginBox .loginBox .loginBoxR .passHandel label {
	float: left;
	display: block;
	cursor: pointer;
	margin-right: 30px;
	color: #666
}

.d_loginBox .loginBox .loginBoxR .passHandel label input {
	position: relative;
	top: 2px;
	z-index: 9;
	margin-right: 4px;
	cursor: pointer
}

.d_loginBox .loginBox .loginBoxR .btnBox {
	padding: 20px 0
}

.d_loginBox .loginBox .loginBoxR .btnBox input {
	padding: 0 60px
}

.d_loginBox .loginBox .loginBoxR .tips {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 14px;
	color: #666
}

.d_registerBox {
	width: 980px;
	margin: 40px auto 105px
}

.d_registerBox h2 {
	height: 38px;
	width: 980px;
	border-bottom: 1px solid #f5a22d
}

.d_registerBox h2 a {
	height: 38px;
	line-height: 38px;
	display: block;
	float: left;
	margin-right: 2px;
	background: #fff;
	padding: 0 20px;
	font-size: 14px;
	color: #666;
	font-weight: 100
}

.d_registerBox h2 a.on {
	background: #f5a22d;
	color: #fff
}

.d_registerBox .registerBox {
	width: 980px;
	min-height: 375px;
	_height: 375px;
	background: #fff;
	padding: 60px 0 100px
}

.d_registerBox .registerBoxL {
	width: 510px;
	border-right: 1px solid #e1e1e1;
	float: left;
	display: inline
}

.d_registerBox .registerBoxL .registerList li {
	padding-bottom: 15px
}

.d_registerBox .registerBoxL .registerList li label {
	width: 130px;
	padding-right: 15px;
	display: block;
	text-align: right
}

.d_registerBox .registerBoxL .registerList li .codeBtn {
	width: 118px;
	height: 38px;
	background: #f8f8f8;
	border: 1px solid #e4e4e4;
	border-radius: 2px;
	display: block;
	line-height: 38px;
	text-align: center;
	color: #444;
	float: left;
	font-size: 14px
}

.d_registerBox .registerBoxL .registerList li .codeBtn:hover {
	color: #666;
	opacity: .8
}

.d_registerBox .registerBoxL .btnBox {
	padding: 20px 0 0 145px
}

.d_registerBox .registerBoxL .btnBox .btnOrg40:hover {
	opacity: .8
}

.d_registerBox .registerBoxL .protocol {
	padding: 20px 0 0 185px
}

.d_registerBox .registerBoxL .protocol a {
	color: #666;
	font-size: 12px
}

.d_registerBox .registerBoxL .protocol a span {
	margin-right: 5px;
	top: 2px;
	*top: -2px
}

.d_registerBox .registerBoxL .protocol a:hover {
	text-decoration: underline;
	color: #666
}

.d_registerBox .registerBoxR {
	width: 389px;
	float: left;
	display: inline;
	padding-left: 80px
}

.d_registerBox .protocolBox {
	width: 760px;
	margin: 40px 0 0 110px;
	float: left;
	border: 1px solid #e1e1e1;
	height: 170px;
	overflow: auto;
	padding: 10px
}

.d_registerBox .protocolBox h2 {
	border: 0;
	width: auto;
	color: #666;
	font-weight: 400;
	height: 28px;
	line-height: 28px;
	margin: 10px 0;
	font-size: 16px
}

.d_registerBox .protocolBox p {
	line-height: 24px
}

.d_registerBox .protocolBox h4 {
	height: 32px;
	line-height: 32px
}

.d_otherLogin {
	width: 310px
}

.d_otherLogin dt {
	font-family: 'Microsoft YaHei','SimSun';
	font-size: 16px;
	color: #666;
	padding-bottom: 30px
}

.d_otherLogin dd {
	width: 90px;
	height: 90px;
	float: left;
	display: inline;
	margin-right: 10px
}

.d_otherLogin dd a {
	width: 88px;
	height: 88px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	display: block
}

.d_otherLogin dd a em {
	text-align: center;
	display: block;
	font-size: 14px;
	color: #333
}

.d_otherLogin dd a:hover {
	background: #f3f3f3
}

.d_otherLogin dd a:hover em {
	color: #333
}

.d_otherLogin dd .QQ_iconB,.d_otherLogin dd .WB_iconB,.d_otherLogin dd .WX_iconB {
	margin: 6px auto;
	display: block
}

.d_registerBox .registerJumpBox {
	padding: 0 0 50px;
	border-top: 1px solid #f5a22d
}

.d_registerBox .registerJumpBox .registerBoxL {
	border-right: 0;
	width: 980px
}

.d_registerBox .registerJumpBox .registerBoxL .registerCon {
	width: 510px;
	margin: 50px 0 0 235px
}